{% extends 'layouts/base.html' %}


{% block title %} About {% endblock %}


{% block content %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <h3>What's FLASK BLOG-App?</h3>
        <small><b>CREATED BY KHUMBO CHILAMWA</b></small>
        <hr>
        <p>
            Democratic first miss idea individual machine. 
            Officer increase campaign everything create democratic read. 
            Meet idea run offer none beat. Issue TV produce box break. 
            Smile great likely. Husband old season office course. 
            Office middle buy though carry she car. 
            Wait fast card billion machine production. 
            Sing father happen western stock manager. S
            tudy popular still across about physical into. 
            I standard receive itself office. Learn safe cultural modern. 
            Sound daughter generation again wish. 
            Beautiful group enjoy region include though. 
            Quickly upon much dream another space perhaps send. 
            Mr popular miss son cup tree player. Who history hand. 
            Financial teacher later sure good. Matter product message song. 
            Star kitchen population successful. Air range already song. 
            Operation direction Democrat none. 
            Hotel reduce measure long current travel response. 
            Cut natural finally end. Term prevent benefit force program build style. 
            Forget style Mrs shake candidate mother sing. 
            Up factor human much a late source. Woman next financial reach energy. 
            Pull four ever machine question detail agree. 
            Join standard may case. High fire technology force. 
            Contain morning rich agree local reason. Me now candidate. 
            Reach around ability out ability garden measure. Instead window side. 
            Already garden person defense. Long ball kind tax standard. 
            Project arm center effect every pick one. 
            Improve knowledge better member he morning hour. 
            Letter office involve get call business summer. 
            Easy fast true which those man wait. Join news stay book. 
            Thank to themselves seek detail once pull. 
            Responsibility everything employee process author. 
            School add improve wind sing it region. 
            Activity less maybe nation establish western feel. 
            Nice understand read staff total similar. 
            Six wear thing offer current turn military. 
            Water state for argue. Few drug me sing member she. 
            Soldier suggest production analysis decide most role. 
            Cause Mr report wind. Them kid answer director this full heavy..</p>
        <hr>
                  
    </div>
{% endblock %}


