{% extends 'layouts/master.html' %}


{% block title %} Confirm Delete {% endblock %}


{% block content %}

<div class="card card-default">
    <div class="card-header font-weight-bold">Confirm Delete</div>

    <div class="card-body">
        <ul class="list-group">
            
                <li class="list-group-item">Are you sure you want to delete <strong>{{ post.title|title }}</strong>?<br>
                    <a href="{{ url_for('dashboard') }}" class="btn btn-sm btn-primary">Go, Back</a>
                    <a href="delete/{{ post.id }}" class="btn btn-sm btn-danger">Yes, Delete</a>
                </li>
            
        </ul>
    </div>
</div>

{% endblock %}